.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-player iframe {
  width: 100%;
  min-height: 440px;
}

.video-player div {
  width: 560px;
}

.video-player-loading{
  text-align: center;
  background: rgba(0,0,0,0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  min-height: 440px;
}